# Versions are pinned to prevent pypi releases arbitrarily breaking
# tests with new APIs/semantics. We want to update versions deliberately.
ansible==2.6.5
boto==2.44.0
click==6.7
pyOpenSSL==17.5.0
# We need to disable ruamel.yaml for now because of test failures
#ruamel.yaml
six==1.10.0
shade==1.24.0
passlib==1.6.5
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.3 # not directly required, pinned by Snyk to avoid a vulnerability
oslo.utils>=4.8.1 # not directly required, pinned by Snyk to avoid a vulnerability
paramiko>=3.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
